
<div id="main" *ngIf="year">
  <!-- top nav -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Faculty</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav ml-auto mr-3">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownMenuButton" ngbDropdownToggle>{{authentication.currentUserValue.first}} {{authentication.currentUserValue.last}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
            <button ngbDropdownItem (click)="authentication.logout()">Logout</button>
          </div>
        </div>
      </ul>
    </div>
  </nav>

  <div class="table-responsive">
    <table class="table table-bordered table-striped col-xs-12 col-md-12 col-lg-12" id="facultyTable">
      <thead>
      <tr id="searchTr">
        <th>
          <input type="text" class="form-control searchInput" [(ngModel)]=first placeholder="First Name" aria-describedby="basic-addon1" (ngModelChange)="changed($event)">
        </th>
        <th>
          <input type="text" class="form-control searchInput" [(ngModel)]=last placeholder="Last Name" aria-describedby="basic-addon1" (ngModelChange)="changed($event)">
        </th>
        <th>
          <select [(ngModel)]=rank class= "form-control" (ngModelChange)="changed($event)">
            <option>Full Professor</option>
            <option>Associate Professor</option>
            <option>Assistant Professor</option>
            <option>None</option>
          </select>
        </th>
        <th>
          <select [(ngModel)]=college class= "form-control" (ngModelChange)="changed($event)">
            <option>CASH</option>
            <option>CSH</option>
            <option>CBA</option>
            <option>None</option>
          </select>
        </th>
        <th>
          <select [(ngModel)]=tenured class= "form-control" (ngModelChange)="changed($event)">
            <option>Yes</option>
            <option>No</option>
            <option>None</option>
          </select>
        </th>
        <th>
          <select [(ngModel)]=soe class= "form-control" (ngModelChange)="changed($event)">
            <option>Yes</option>
            <option>No</option>
            <option>None</option>
          </select>
        </th>
        <th>
          <select [(ngModel)]=admin class= "form-control" (ngModelChange)="changed($event)">
            <option>Yes</option>
            <option>No</option>
            <option>None</option>
          </select>
        </th>
        <th>
          <select [(ngModel)]=gender class= "form-control" (ngModelChange)="changed($event)">
            <option>Male</option>
            <option>Female</option>
            <option>None</option>
          </select>
        </th>
        <th>
          <div class="btn btn-primary btn-sm" (click)="clear()">
            Clear
          </div>
        </th>
      </tr>
      <tr>
        <th>
          First
        </th>
        <th>
          Last
        </th>
        <th>
          Rank
        </th>
        <th>
          College
        </th>
        <th>
          Tenured
        </th>
        <th>
          SOE
        </th>
        <th>
          Admin
        </th>
        <th>
          Gender
        </th>
        <th>
          Action
        </th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let faculty of searchedFaculties; index as i;" id="firstLine">
        <td *ngIf="i!==editIndex">
          {{faculty.first}}
        </td>
        <td  *ngIf="i!==editIndex">
          {{faculty.last}}
        </td>
        <td *ngIf="i!==editIndex">
          {{faculty.rank}}
        </td>
        <td *ngIf="i!==editIndex">
          {{faculty.college}}
        </td>
        <td *ngIf="i!==editIndex">
          <label *ngIf="faculty.tenured == 1" class="myCheckBox">
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
          <label *ngIf="faculty.tenured == 0" class="myCheckBox">
            <input type="checkbox" checked="checked">
            <span class="emptyCheckBox"></span>
          </label>
        </td>
        <td *ngIf="i!==editIndex">
          <label *ngIf="faculty.soe == 1" class="myCheckBox">
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
          <label *ngIf="faculty.soe == 0" class="myCheckBox">
            <input type="checkbox" checked="checked">
            <span class="emptyCheckBox"></span>
          </label>
        </td>
        <td *ngIf="i!==editIndex">
          <label *ngIf="faculty.adminResponsibility == 1" class="myCheckBox">
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
          <label *ngIf="faculty.adminResponsibility == 0" class="myCheckBox">
            <input type="checkbox" checked="checked">
            <span class="emptyCheckBox"></span>
          </label>
        </td>
        <td *ngIf="i!==editIndex" class="text-center">
          {{faculty.gender}}
        </td>
        <td *ngIf="i!==editIndex">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 view-link file-trash-icon" href="#" data-toggle="modal" data-target="#exampleModal" (click)="delete(i)"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3 view-link file-edit-icon" href="#" (click)="edit(i)"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text view-link file-text-icon" data-toggle="modal" data-target="#committeeListModal"  (click)="getUserCommittees(i)" href="#"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
        </td>

        <td *ngIf="i==editIndex">
          <input type="text" [(ngModel)]=editFirst>
        </td>
        <td *ngIf="i==editIndex">
          <input type="text" [(ngModel)]=editLast>
        </td>
        <td *ngIf="i==editIndex">
          <select class="form-control" [(ngModel)]=editRank>
            <option>Full Professor</option>
            <option>Associate Professor</option>
            <option>Assistant Professor</option>
          </select>
        </td>
        <td *ngIf="i==editIndex">
          <select class="form-control" [(ngModel)]=editCollege>
            <option>CASH</option>
            <option>CSH</option>
            <option>CBA</option>
          </select>
        </td>
        <td *ngIf="i==editIndex">
          <input *ngIf="searchedFaculties[i].tenured===1" type="checkbox" class="check" [(ngModel)]=editTenured checked>
          <input *ngIf="searchedFaculties[i].tenured===0" type="checkbox" class="check" [(ngModel)]=editTenured>
        </td>
        <td *ngIf="i==editIndex">
          <input *ngIf="searchedFaculties[i].soe===1" type="checkbox" class="check" [(ngModel)]=editSoe checked>
          <input *ngIf="searchedFaculties[i].soe===0" type="checkbox" class="check" [(ngModel)]=editSoe>
        </td>
        <td *ngIf="i==editIndex">
          <input *ngIf="searchedFaculties[i].adminResponsibility===1" type="checkbox" class="check" [(ngModel)]=editAdmin checked>
          <input *ngIf="searchedFaculties[i].adminResponsibility===0" type="checkbox" class="check" [(ngModel)]=editAdmin>
        </td>
        <td *ngIf="i==editIndex">
          <select class="form-control" [(ngModel)]=editGender>
            <option>Male</option>
            <option>Female</option>
          </select>
        </td>
        <td *ngIf="i==editIndex">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check file-check-icon" data-target="#modifyModal" data-toggle="modal"><polyline points="20 6 9 17 4 12"></polyline></svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x file-x-icon" data-target="#cancelModal" data-toggle="modal"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="table-buttons mt-4" id="tableFooterGroup">
    <ul class="pagination">
      <li class="page-item disabledPagation" *ngIf="currentPage === 0">
        <a class="page-link disabledPagation" aria-label="Previous">
          <span aria-hidden="true">|<</span>
        </a>
      </li>

      <li class="page-item disabledPagation" *ngIf="currentPage === 0">
        <a class="page-link disabledPagation" aria-label="Previous">
          <span aria-hidden="true"><</span>
        </a>
      </li>


      <li class="page-item" (click)="firstPage()" *ngIf="currentPage !== 0">
        <a class="page-link" aria-label="Previous">
          <span aria-hidden="true">|<</span>
        </a>
      </li>
      <li class="page-item" (click)="prevoiusPage()" *ngIf="currentPage !== 0" >
        <a class="page-link" aria-label="Previous">
          <span aria-hidden="true"><</span>
        </a>
      </li>

      <ng-container *ngFor="let i of [].constructor(pageNum);index as j;">
        <li *ngIf="currentPage !== j " class="page-item" (click)="getPageItem(j)"><a class="page-link">{{j+1}}</a></li>
        <li *ngIf="currentPage === j " class="page-item selectedpageItem" (click)="getPageItem(j)"><a class="page-link selectPage">{{j+1}}</a></li>
      </ng-container>

      <li class="page-item disabledPagation"  *ngIf="currentPage === pageNum-1">
        <a class="page-link disabledPagation" aria-label="Next">
          <span aria-hidden="true">></span>
        </a>
      </li>
      <li class="page-item disabledPagation" *ngIf="currentPage === pageNum-1">
        <a class="page-link disabledPagation" aria-label="Next">
          <span aria-hidden="true">>|</span>
        </a>
      </li>
      <li class="page-item" (click)="nextPage()" *ngIf="currentPage !== pageNum-1">
        <a class="page-link" aria-label="Next">
          <span aria-hidden="true">></span>
        </a>
      </li>
      <li class="page-item" (click)="lastPage()" *ngIf="currentPage !== pageNum-1">
        <a class="page-link" aria-label="Next">
          <span aria-hidden="true">>|</span>
        </a>
      </li>
      <ul class="mr-auto">
      </ul>
      <button type="button" class="btn btn-primary mb-5" id="addFaculty" data-toggle="modal" data-target="#userModal">
        <i class="user-plus-icon ml-2 mr-1" data-feather="user-plus"></i>Add Faculty
      </button>
    </ul>
  </div>

  <!-- Modal for delete-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Delete Faculty</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="closeBtn" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this faculty?
          <p>This faculty will also remove from these committees:</p>
          <li class="ml-2">General Education Assessment Committee</li>
          <li class="ml-2">Nominating Committee</li>
          <li class="ml-2">Senate Committees</li>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary closeBtn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <button type="button" class="btn btn-primary closeBtn" data-dismiss="modal" aria-hidden="true" (click)="deleteUser()">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for modify-->
  <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="modifyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Save Modifications</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="closeBtn" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to save these modification？
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary closeBtn" aria-hidden="true" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary closeBtn" aria-hidden="true" data-dismiss="modal" (click)="modifyUser()">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for add user-->
  <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="addUserModalLabel">Add Faculty</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="closeBtn" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="modal-body">
            <div class="container-fluid">
              <form class="form-horizontal" [formGroup]="addUserForm">
                <div class="form-group ">
                  <label for="sName" class="col-xs-3 control-label">First Name:</label>
                  <div class="col-xs-8 ">
                    <input type="email" formControlName="first" class="form-control input-sm" id="sName" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="sLink" class="col-xs-3 control-label">Last Name:</label>
                  <div class="col-xs-8 ">
                    <input type="" formControlName="last" class="form-control input-sm" id="sLink" placeholder="">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-xs-3 control-label">Rank:</label>
                  <div class="col-xs-8">
                    <select formControlName="rank" class="form-control select-duiqi">
                      <option>Full Professor</option>
                      <option>Associate Professor</option>
                      <option>Assistant Professor</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-xs-3 control-label">College Affiliation:</label>
                  <div class="col-xs-8">
                    <select formControlName="college" class="form-control select-duiqi">
                      <option>CASH</option>
                      <option>CSH</option>
                      <option value="">CBA</option>
                    </select>
                  </div>
                </div>

                <div class="form-group mt-4">
                  <div class="col-xs-8 checkInline">
                    <input type="checkbox" formControlName="tenured" class="align-middle">  <span class="align-middle"> Tenured</span>
                  </div>
                </div>

                <div class="form-group mt-4">
                  <input type="checkbox" formControlName="admin" class="align-middle">  <span class="align-middle">  Administrative Responsibilities Over 50%</span>
                </div>

                <div class="form-group mt-4">
                  <input type="checkbox" formControlName="soe" class="align-middle">  <span class="align-middle">  School Of Ed Affiliation</span>
                </div>

                <div class="form-group mt-4">
                  <span>Male:</span><input type="radio" class="radio" value="M" formControlName="gender">Female:<input value="F" type="radio" class="radio" formControlName="gender">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close" (click)="addFaculty()">Add Faculty</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for cancel modify user-->
  <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="modifyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="Modify">Discard Modifications</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="closeBtn" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to discard these modifications？
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary closeBtn" aria-hidden="true" data-dismiss="modal" aria-label="Close" (click)="cancleEdit()">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="committeeListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="closeBtn mr-4" aria-hidden="true">&times;</span>
          </button>
          <div *ngIf="!showAssignedCommittees&&!showVolunteeredCommittees">
            <h3 class="featuredHead">Committees List</h3>
            <ul class="nav nav-tabs mb-4" role="tablist">
              <li role="presentation" class="active">
              </li>
            </ul>
            <div class="mb-3 mt-4">
              <div id="h1">
                <div class="input-group mb-2">
                  Assigned Committees
                </div>
              </div>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                </li>
              </ul>
              <div class="table-responsive ">
                <table class="table table-bordered table-striped col-xs-12 col-md-12 col-lg-12">

                  <tbody class="committeeListClickable">
                  <tr *ngFor = "let committee of userAssignedCommittees;index as i" data-dismiss="modal">
                    <td [routerLink]="['/committees', committee.id]">
                      {{committee.name}}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="mb-3" >
              <div id="h2">
                <div class="input-group mb-2 mt-4">
                  Volunteered Committees
                </div>
              </div>
              <ul class="nav nav-tabs mb-2" role="tablist">
                <li role="presentation" class="active">
                </li>
              </ul>
              <div class="table-responsive">
                <table class="table table-bordered table-striped col-xs-12 col-md-12 col-lg-12">
                  <tbody class="committeeListClickable">

                  <tr *ngFor = "let committee of userVolunteeredCommittees;index as i" data-dismiss="modal">
                    <td [routerLink]="['/committees', committee.id]">
                      {{committee.name}}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div *ngIf="showVolunteeredCommittees">
            <h3 class="featuredHead">{{selectedCommittee.name}}</h3>
            <ul class="nav nav-tabs mb-4" role="tablist">
              <li role="presentation" class="active">
              </li>
            </ul>
            <div class="mb-3 mt-4">
              <div id="h1">
                <div class="input-group mb-2">
                  Introduction
                  <button *ngIf="introductionExpand == 1" (click)="expandIntroduction()" class="btn btn-sm pull-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up file-text-icon"><polyline points="18 15 12 9 6 15"></polyline></svg></button>
                  <button *ngIf="introductionExpand == 0" (click)="expandIntroduction()" class="btn btn-sm pull-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down file-text-icon"><polyline points="6 9 12 15 18 9"></polyline></svg></button>
                </div>
              </div>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                </li>
              </ul>
              <p *ngIf="introductionExpand == 1" class="lead mt-4" id="1">
                {{selectedCommittee.introduction}}
              </p>
            </div>

            <div class="mb-3" >
              <div id="h2">
                <div class="input-group mb-2 mt-4">
                  Duties
                  <button *ngIf="dutyExpand == 1" (click)="expandDuty()" class="btn btn-sm pull-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up file-text-icon"><polyline points="18 15 12 9 6 15"></polyline></svg></button>
                  <button *ngIf="dutyExpand == 0" (click)="expandDuty()" class="btn btn-sm pull-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down file-text-icon"><polyline points="6 9 12 15 18 9"></polyline></svg></button>
                </div>
              </div>
              <ul class="nav nav-tabs mb-4" role="tablist">
                <li role="presentation" class="active">
                </li>
              </ul>
              <div *ngIf="dutyExpand == 1"  class="tab-content" id="2">
                <div role="tabpanel" class="tab-pane active">
                  <div>
                    <div class="List">
                      <ol>
                        <li *ngFor="let duty of selectedCommittee.duties" class="mt-1">
                          {{duty.duty}}
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3 mt-4">
              <div id="h3">
                <div class="input-group mb-2">
                  Criteria
                  <button *ngIf="critreriaExpand == 1" (click)="expandCriteria()" class="btn btn-sm pull-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up file-text-icon"><polyline points="18 15 12 9 6 15"></polyline></svg></button>
                  <button *ngIf="critreriaExpand == 0" (click)="expandCriteria()" class="btn btn-sm pull-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down file-text-icon"><polyline points="6 9 12 15 18 9"></polyline></svg></button>
                </div>
              </div>
              <ul class="nav nav-tabs mb-4" role="tablist">
                <li role="presentation" class="active">
                </li>
              </ul>
              <div *ngIf="critreriaExpand == 1" class="tab-content" id="3">
                <div role="tabpanel" class="tab-pane active">
                  <div>
                    <div class="List">
                      <ol>
                        <li *ngFor="let criterion of selectedCommittee.criterias"class="mt-1">
                          {{criterion.criteria}}
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3 mt-4">
              <div id="h3">
                <div class="input-group mb-2">
                  Action
                </div>
              </div>
              <ul class="nav nav-tabs mb-4" role="tablist">
                <li role="presentation" class="active">
                </li>
              </ul>
            </div>
            <button class="btn btn-success" (click)="AssignUser(selectedCommittee.id)">Assign User</button>
          </div>

          <div *ngIf="showAssignedCommittees">
            <h3 class="featuredHead">{{selectedCommittee.name}}</h3>
            <ul class="nav nav-tabs mb-4" role="tablist">
              <li role="presentation" class="active">
              </li>
            </ul>
            <div class="mb-3 mt-4">
              <div id="h1">
                <div class="input-group mb-2">
                  Introduction
                  <button *ngIf="introductionExpand == 1" (click)="expandIntroduction()" class="btn btn-sm pull-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up file-text-icon"><polyline points="18 15 12 9 6 15"></polyline></svg></button>
                  <button *ngIf="introductionExpand == 0" (click)="expandIntroduction()" class="btn btn-sm pull-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down file-text-icon"><polyline points="6 9 12 15 18 9"></polyline></svg></button>
                </div>
              </div>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                </li>
              </ul>
              <p *ngIf="introductionExpand == 1" class="lead mt-4" id="1">
                {{selectedCommittee.introduction}}
              </p>
            </div>

            <div class="mb-3" >
              <div id="h2">
                <div class="input-group mb-2 mt-4">
                  Duties
                  <button *ngIf="dutyExpand == 1" (click)="expandDuty()" class="btn btn-sm pull-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up file-text-icon"><polyline points="18 15 12 9 6 15"></polyline></svg></button>
                  <button *ngIf="dutyExpand == 0" (click)="expandDuty()" class="btn btn-sm pull-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down file-text-icon"><polyline points="6 9 12 15 18 9"></polyline></svg></button>
                </div>
              </div>
              <ul class="nav nav-tabs mb-4" role="tablist">
                <li role="presentation" class="active">
                </li>
              </ul>
              <div *ngIf="dutyExpand == 1"  class="tab-content" id="2">
                <div role="tabpanel" class="tab-pane active">
                  <div>
                    <div class="List">
                      <ol>
                        <li *ngFor="let duty of selectedCommittee.duties" class="mt-1">
                          {{duty.duty}}
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3 mt-4">
              <div id="h3">
                <div class="input-group mb-2">
                  Criteria
                  <button *ngIf="critreriaExpand == 1" (click)="expandCriteria()" class="btn btn-sm pull-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up file-text-icon"><polyline points="18 15 12 9 6 15"></polyline></svg></button>
                  <button *ngIf="critreriaExpand == 0" (click)="expandCriteria()" class="btn btn-sm pull-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down file-text-icon"><polyline points="6 9 12 15 18 9"></polyline></svg></button>
                </div>
              </div>
              <ul class="nav nav-tabs mb-4" role="tablist">
                <li role="presentation" class="active">
                </li>
              </ul>
              <div *ngIf="critreriaExpand == 1" class="tab-content" id="3">
                <div role="tabpanel" class="tab-pane active">
                  <div>
                    <div class="List">
                      <ol>
                        <li *ngFor="let criterion of selectedCommittee.criterias"class="mt-1">
                          {{criterion.criteria}}
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3 mt-4">
              <div id="h3">
                <div class="input-group mb-2">
                  Action
                </div>
              </div>
              <ul class="nav nav-tabs mb-4" role="tablist">
                <li role="presentation" class="active">
                </li>
              </ul>
            </div>
            <button class="btn btn-danger" (click)="removeUser(selectedCommittee.id)">Remove User</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container" id="footerText">
      <span class="text-dark">UWLAX</span>
    </div>
  </footer>
</div>
