 <!-- /sidebar -->
  <!-- main right col -->
  <div id="main" *ngIf="surveys.length > 0">
    <!-- top nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <a class="navbar-brand" href="#">Survey</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav ml-auto mr-3">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownMenuButton" ngbDropdownToggle>{{authentication.currentUserValue.first}} {{authentication.currentUserValue.last}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
              <button ngbDropdownItem (click)="authentication.logout()">Logout</button>
            </div>
          </div>
        </ul>
      </div>
    </nav>

    <nav id="reportFormGroup" class="navbar navbar-expand-lg navbar-light bg-light mt-5">
      <h3>Committees</h3>
    </nav>

    <div class="table-responsive  mb-4">
      <table class="table table-bordered table-striped col-xs-12 col-md-12 col-lg-12 mt-4 mb-5" id="committeeList">
        <thead>
        <tr>
          <th class="w-25">
            Name
          </th>
          <th class="w-25">
            Volunteered
          </th>
          <th>
            Comment
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let committee of committees;index as i;">
          <td>
            <a data-toggle="modal" class="clickAble" data-target="#committeeModal" (click)="popUp(committee)">
              {{committee.name}}
            </a>
          </td>
          <td>
            <input type="checkbox" class="check" [checked]="surveysCommittee.has(committee.id)" (click)="createSurvey(committee.id, this.authentication.currentUserValue.id)">
          </td>
          <td *ngIf="editIndex !== i">
            <ng-container *ngIf="surveysCommittee.has(committee.id)">
              <div class="input-group">
                <h5>
                  {{comments[committee.id]}}
                </h5>
                <ul class="ml-auto" id="editCommittee">
                  <svg (click)="editComment(i)" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3 view-link file-edit-icon">
                    <path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg>
                </ul>
              </div>
            </ng-container>
          </td>

          <td *ngIf="editIndex === i">
            <div class="row">
              <input type="text" class="col-8" [(ngModel)]="commentText">
              <button class="btn btn-primary btn-sm ml-3" (click)="saveText( this.authentication.currentUserValue.id, committee.id)">Save</button>
              <button class="btn btn-danger btn-sm ml-2" (click)="cancelEdit()">Cancel</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <div *ngIf="selectedCommittee" class="modal fade" id="committeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <app-selected-committee [(selectedCommittee)]="selectedCommittee"></app-selected-committee>
    </div>

    <!-- Modal for committee-->
    <footer class="footer">
      <div class="container" id="footerText">
        <span class="text-dark">UWLAX</span>
      </div>
    </footer>
  </div>
<!-- /main -->
