<div class="modal-header">
  <h4 class="modal-title">Save Modifications</h4>
  <button type="button" class="close" (click)="this.activeModal.dismiss()" aria-label="Close">
    <span class="closeBtn" aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editUserForm">
    <td>
      First:
      <input type="text" formControlName="editFirst">
    </td>
    <td>
      Last:
      <input type="text" formControlName="editLast">
    </td>
    <td>
      Rank:
      <select class="form-control" formControlName="editRank">
        <option *ngFor="let rank of ranks">{{rank}}</option>
      </select>
    </td>
    <td>
      College:
      <select class="form-control" formControlName="editCollege">
        <option id = "editCollege" *ngFor="let college of colleges" [ngValue]="college">{{college.name}}</option>
      </select>
    </td>
    <td>
      Tenured:
      <input  formControlName="editTenured" type="checkbox" class="check" [checked]="modifyUser.tenured">
    </td>
    <td>
      SOE:
      <input type="checkbox" class="check" formControlName="editSoe" [checked]="modifyUser.soe">
    </td>
    <td>
      Admin:
      <input type="checkbox" formControlName="editAdmin" class="check" [checked]="modifyUser.adminResponsibility">
    </td>
    <td>
      Gender:
      <select class="form-control" formControlName="editGender">
        <option id = "editGender" *ngFor="let gender of genders" [ngValue]="gender">{{gender.name}}</option>
      </select>
    </td>
    <td>
      Dept:
      <select class="form-control" formControlName="editDept">
        <option id ="editDept" *ngFor="let dept of depts" [ngValue]="dept">{{dept.name}}</option>
      </select>
    </td>
    <td>
      Chair:
      <input type="checkbox" formControlName="editChair" class="check" [checked]="modifyUser.chair">
    </td>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary closeBtn" aria-hidden="true" data-dismiss="modal" (click)="this.activeModal.dismiss()">Cancel</button>
  <button type="button" class="btn btn-primary closeBtn" aria-hidden="true" data-dismiss="modal" (click)="Save()">Save</button>
</div>
