<div id="sidebar">
  <div id="bigBar" class="sticky-top">
    <ul class="nav d-none d-lg-block d-xl-block mt-2 mt-2">
      <li>
        <form [formGroup]="yearsForm">
          <select [(ngModel)]="selectedYear" formControlName="year" id="year" class= "form-control" (change)="changeYear()">
            <option *ngFor="let year of years">{{year}}</option>
          </select>
        </form>
      </li>
    </ul>

    <ul *ngIf="facultyNavbar === 0 && isAdmin" (click)="routerToFaculty()" class="nav d-none d-lg-block d-xl-block mt-2 mt-2" >
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus user-plus-icon ml-3 mr-1" _ngcontent-ekg-c47=""><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>Faculty</li>
    </ul>

    <ul *ngIf="facultyNavbar === 1 && isAdmin" class="nav d-none d-lg-block d-xl-block mt-2 mt-2 selected" >
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus user-plus-icon ml-3 mr-1" _ngcontent-ekg-c47=""><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>Faculty</li>
    </ul>

    <ul *ngIf="committeesNavbar === 1&&(isAdmin||isNominate)" class="nav d-none d-lg-block d-xl-block mt-2 mt-2 selected">
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users file-trendingUp-icon ml-3 mr-1" _ngcontent-swv-c47=""><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>Committees
      </li>
    </ul>

    <ul *ngIf="committeesNavbar === 0&&(isAdmin||isNominate)" (click)="routerCommittees()" class="nav d-none d-lg-block d-xl-block mt-2 mt-2" >
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users file-trendingUp-icon ml-3 mr-1" _ngcontent-swv-c47=""><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>Committees
      </li>
    </ul>

    <ul *ngIf="surveyNavbar === 0 && (isNormal||isNominate)" (click)="routerToSurvey()" class="nav d-none d-lg-block d-xl-block mt-2 mt-2" >
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text ml-3 mr-1" _ngcontent-fdr-c47=""><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>Survey
      </li>
    </ul>

    <ul *ngIf="surveyNavbar === 1 && (isNormal||isNominate)" class="nav d-none d-lg-block d-xl-block mt-2 mt-2 selected" >
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text ml-3 mr-1" _ngcontent-fdr-c47=""><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>Survey
      </li>
    </ul>

    <ul *ngIf="reportNavbar ===1  && isAdmin" class="nav d-none d-lg-block d-xl-block mt-2 mt-2 selected" >
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up file-trendingUp-icon ml-3 mr-1" _ngcontent-lgw-c47=""><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg>Report
      </li>
    </ul>

    <ul *ngIf="reportNavbar === 0  && isAdmin" class="nav d-none d-lg-block d-xl-block mt-2 mt-2" (click)="routerToReport()">
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up file-trendingUp-icon ml-3 mr-1" _ngcontent-lgw-c47=""><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg>Report
      </li>
    </ul>

    <div class="d-block d-lg-none d-xl-none" id="smallSidebar">
      <ul class="nav mt-2" >
        <li><i class="home-icon ml-3 mr-1" data-feather="home"></i></li>
      </ul>

      <ul class="nav mt-2" >
        <li class="selected">
          <i class="user-plus-icon ml-3 mr-1" data-feather="user-plus"></i></li>
      </ul>
      <ul class="nav mt-2" >
        <li>
          <i class="file-text-icon ml-3 mr-1" data-feather="users"></i></li>
      </ul>

      <ul class="nav mt-2" >
        <li>
          <i class="file-text-icon ml-3 mr-1" data-feather="file-text"></i>
        </li>
      </ul>

      <ul class="nav mt-2" >
        <li>
          <i class="file-text-icon ml-3 mr-1" data-feather="trending-up"></i></li>
      </ul>
    </div>
  </div>
</div>
