<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="Modify">Discard Modifications</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="closeBtn" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Are you sure you want to discard these modifications？
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      <button type="button" class="btn btn-primary closeBtn" aria-hidden="true" data-dismiss="modal" aria-label="Close" (click)="cancelEdit()">Yes</button>
    </div>
  </div>
</div>
