<div id="main">
  <!-- top nav -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Committees</a>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav ml-auto mr-3">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownMenuButton" ngbDropdownToggle>{{authentication.currentUserValue.first}} {{authentication.currentUserValue.last}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
            <button ngbDropdownItem (click)="authentication.logout()">Logout</button>
          </div>
        </div>
      </ul>
    </div>
  </nav>

  <div class="table-responsive mt-5 mb-5">
    <table class="table table-bordered table-striped col-xs-12 col-md-12 col-lg-12" id="committeeList">
      <thead>
      <tr>
        <th>
          Committee Name
        </th>
        <th>
          Criteria
        </th>
        <th>
          Members
        </th>
      </tr>
      </thead>
      <tbody id="committeeListClickable">

      <tr *ngFor="let committee of committees" [routerLink]="['/committees', committee.id]">
        <td>
          {{committee.name}}
        </td>
        <td>
          <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x file-x-icon"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </td>
        <td>
          <span>6/9</span>
        </td>
      </tr>

      <tr>
        <td>
          Senate Committees
        </td>
        <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check file-check-icon"><polyline points="20 6 9 17 4 12"></polyline></svg>
        </td>
        <td>
          <span>7/9</span>
        </td>
      </tr>

      </tbody>
    </table>

    <footer class="footer">
      <div class="container" id="footerText">
        <span class="text-dark">UWLAX</span>
      </div>
    </footer>
  </div>
  <!-- /main -->
</div>
